

.columns{
    margin:1em 1em 1em 1.5em;
    width:40%;
    float:left;
}
@media screen and (max-width:600px){
    .columns{
        margin: 2em 0em 2em 1em;
        width:auto;
    }
}
li{
    margin:1em .5em 1em 1em;
}
.FourOFourText{
    text-align: center;
}
#FourOFourImage{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:25%;
}

