.reaction-images{
    width:10%;
}
#dates-div{
    margin-top:20px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center
}
.date-results-div>h2{
    margin:0;
}
#total-results{
    margin:0 auto;
    width:80%;
}
.results-div{
    width:100%;
}